<div class="nxc-metrics">
    <div class="nxc-metrics__container">
        <div class="nxc-metrics__block block">
            <div class="block__item">
                <h2 class="block__title">
                    ${configuration.title} <span class="bright-headline">${configuration.highlight}</span>
                </h2>
                <p class="block__info">${configuration.description}</p>
            </div>
        </div>

        <div class="nxc-metrics__items">
            <lfr-drop-zone></lfr-drop-zone>
        </div>
    </div>
</div>
