<button
    aria-haspopup="dialog"
    class="nxc-metric-item"
    data-nxc-modal='{"version":1,"slots":{"eyebrow":{"value":"Latest metric"},"media":{"read":"image","selector":".nxc-metric-item__icon"},"primaryValue":{"read":"text","selector":".nxc-metric-item__value"},"title":{"read":"text","selector":".nxc-metric-item__label"}}}'
    type="button"
>
    <img
        alt="Metric"
        class="nxc-metric-item__icon"
        data-lfr-editable-id="metricIcon"
        data-lfr-editable-type="image"
        src="[resources:metric-placeholder.svg]"
    />

    <div class="nxc-metric-item__info">
        <p
            class="nxc-metric-item__value"
            data-lfr-editable-id="metricValue"
            data-lfr-editable-type="text"
            data-nxc-metric-value
        >
            0
        </p>
        <p
            class="nxc-metric-item__label"
            data-lfr-editable-id="metricLabel"
            data-lfr-editable-type="text"
        >
            Metric
        </p>
    </div>
</button>
