<div class="nxc-metric-item">
    <img
        alt="Metric"
        class="nxc-metric-item__icon"
        data-lfr-editable-id="metricIcon"
        data-lfr-editable-type="image"
        src="[resources:metric-placeholder.svg]"
    />

    <div class="nxc-metric-item__info">
        <p
            class="nxc-metric-item__value"
            data-lfr-editable-id="metricValue"
            data-lfr-editable-type="text"
            data-nxc-metric-value
        >
            0
        </p>
        <p
            class="nxc-metric-item__label"
            data-lfr-editable-id="metricLabel"
            data-lfr-editable-type="text"
        >
            Metric
        </p>
    </div>
</div>
