<div class="nxc-metrics">
    <div class="nxc-metrics__container">
        <div class="nxc-metrics__block block">
            <div class="block__item">
                <h2 class="block__title">
                    ${configuration.title} <span class="bright-headline">${configuration.highlight}</span>
                </h2>
                <p class="block__info">${configuration.description}</p>
            </div>
        </div>

        <div class="nxc-metrics__items">
            <#if entries?has_content>
                <#list entries as entry>
                    <div class="nxc-metrics__item">
                        <div class="nxc-metrics__icon">
                            <img src="${entry.metricIconURL?html}" alt="${entry.metricIconAlt?html}" />
                        </div>
                        <div class="nxc-metrics__info">
                            <p>${entry.metricValue?html}</p>
                            <p>${entry.metricLabel?html}</p>
                        </div>
                    </div>
                </#list>
            </#if>
        </div>
    </div>
</div>
