:root {
    --nxc-color-primary: #4caf4f;
    --nxc-color-primary-hover: #388e3b;
    --nxc-color-primary-active: #237d31;
    --nxc-color-primary-dark: #237d31;
    --nxc-color-secondary: #263238;
    --nxc-color-heading: #4d4d4d;
    --nxc-color-text: #717171;
    --nxc-color-muted: #89939e;
    --nxc-color-navigation: #18191f;
    --nxc-color-border: #abbed1;
    --nxc-color-surface: #f5f7fa;
    --nxc-color-accent-surface: #e8f5e9;
    --nxc-color-white: #fff;
    --nxc-color-danger: #b42318;
    --nxc-color-success: #237d31;
}
